* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

h1 {
  margin-block: 20px;
}

.container {
  max-width: 70vw;
  margin: 50px auto;
  border: 5px solid black;
  border-radius: 10px;
  padding: 30px;
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(2, minmax(400px, 1fr)); */
  gap: 20px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.button_container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

button {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.5s ease-in;
}

button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.5s ease-out;
}

.form_control {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
